@model CRUD_MEMBERS_BOARD.Models.card

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attachments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attachments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.labels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.labels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importantState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importantState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checklist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checklist)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
