@model CRUD_MEMBERS_BOARD.Models.column

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>column</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_column }) |
    @Html.ActionLink("Back to List", "Index")
</p>
